.selected-color > div:first-child {
    border-color: #2F7CE3;
  }



.DetailsTab::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2F7CE3;
}

.Silver {
    background: #C0C0C0;
}

.Gray {
    background: #808080;
}

.Black {
    background: black;
}

.Gold {
    background: #FFD700;
}
.NavyBlue {
    background: #000080;
}
.RoseGold {
background: #B76E79;
}
.White {
    background: white;
    border: 1px solid gray;
}